@import "../../../styles/variables.scss";

:host{
  display: block;
  width: 100%;
  max-width: 1440px;
  max-height: 1080px;
  height: 100%;
  position: relative;
  margin: auto;
  .app{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ::slotted([slot="bread-crumb"]){
    position: absolute;
    top: 0;
    left: 0;
  }
  .notification-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-med;
    transform: scale(0);
    &.show{
      transform: scale(1);
    }
    .notification{
      @include bewel;
      color: $text-color;
      padding: $padding-med;
      display: flex;
      position: relative;
      overflow: hidden;
      .notification-timer{
        height: 30px;
        width: 30px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 50%;
        border: 4px solid $border-color;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          cursor: pointer;
        }
      }
      .notification-text{
        margin: 0px;
        align-self: center ;
      }
      .progress-bar{
        display: inline-block;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        &.animate{
          transition: transform 2s linear; 
          transform-origin: left;
          transform: scale(0,1);
        }
      }
    }
  }
}
:host([isHidden="true"]){
  display: none;
}