$background: linear-gradient(315deg, #194d5c, #15414d);
$background-reversed: linear-gradient(145deg, #194d5c, #15414d);
$box-shadow:  5px 5px 10px #10333d, 
             -5px -5px 10px #1e5d6f;
$padding-max: 20px;
$padding-med: 10px;
$padding-min: 5px;
$border-radius: 5px;
$border-size: 2px;
$text-color: white;
$title-font-size: 20px;
$text-font-size: 16px;
$header-font-size: 40px;
$border-color: white;