@import "../../../scss//variables.scss";

:host{
  width: 96%;
  margin: 2%;
  .crumb-wrapper{
    display: flex;
    box-sizing: border-box;
    .crumb-item{
      flex-basis: 25%;
      padding: $padding-med;
      background: $background;
      border-radius: $border-radius;
      margin-right: 20px;
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.2);;
      &[active]{
        color: $text-color;
        border: none;
        box-shadow: $box-shadow;
      }
      &:nth-last-child(1){
        margin-right: 0px;
      }
    } 
  }
}

:host([isHidden="true"]){
  display: none;
}