@import "../../../styles/variables.scss";

:host{
  display: block;
  width: 96%;
  height: 500px;
  margin: 2%;
  .encoder-screen-wrapper{
    height: 100%;
    .tab-title-containers{
      display: flex;
      align-items: center;
      justify-content: center;
      .tab-titles{
        width: 80%;
        @include button-style;
      }
      &[active]{
        .tab-titles{
          &:hover{
            cursor: auto;
            box-shadow: $box-shadow;
            background: $background;
          }
        }
      }
      &:not([active]){
        .tab-titles{
          transition: none;
          box-shadow: none;
          opacity: 0.2;
          background: transparent;
          border: 1px solid #c7c7c7;
          &:hover{
            background: transparent;
            opacity: 0.4;
          }
        }
      }
    }
    .encoding-panels{
      @include bewel;
      padding: $padding-med;
      box-sizing: border-box;
    }
  }
  .navigation-bar-container{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 96%;
    margin: 0% 2% 2% 2%;
    .navigation-bar{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .back-button{
        @include button-style;
      }
      .profile-link{
        @include button-style;
        text-decoration: none;
      }
    }
  }
}

:host(:not([active])){
  display: none;
}