$background-color: #174856;
$box-shadow: 0px 0px 10px 0px black;
$padding-max: 20px;
$padding-med: 10px;
$padding-min: 5px;
$border-radius: 5px;
$border-size: 2px;
$text-color: white;
$header-font-size: 40px;
$border-color: #00d4ff;